.Footer {
  background-color: rgb(145, 156, 190);
  padding: 23px;
  font-family: monospace;

  padding: 23px;
  width: 100%;
}

.footer-p {
  font-family: monospace;
  font-size: 15px;
  color: white;
}

.logo {
  width: 10px;
  color: white;
}

@media only screen and (min-width: 600px) {
  .footer-tareas {
    color: white;
    position: absolute;
    right: 0;
    margin-top: -20px;
    margin-right: 9px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .Footer {
   text-align: center;
  }

  .footer-tareas {
    color: white;
    margin-top: 10px;
   
  }
}



