.Footer {
  background-color: rgb(102, 106, 117);
  padding         : 23px;
  width           : 100%;
  position        : absolute;
  bottom          : 0;
  padding: 1%;
  /* margin-top: -64px; */
}

.footer-p {
  font-size: 1em;
  color: white;
}
.footer-tareas {
  color: white;
  position: absolute;
  right: 0;
  margin-top: -20px;
  margin-right: 9px;
  font-size: 15px;
}


/* SECTION esta es la sección de el responsive*/
 
    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-tareas {
    color: white;
    position: absolute;
    right: 0;
    font-size: 0.81rem;
    text-align: end;
    position: absolute;
  }
  .footer-p {
    right: 0;
    text-align: end;
    font-family: monospace;
    font-size: 1em;
    color: white;
  }
  .Footer {
    font-size: 0.81rem;
    background-color: rgba(0,213,177,1) ;
    padding         : 1%;
    width           : 100%;
    position        : fixed;
    bottom          : 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer-tareas {
    color: white;
    position: absolute;
    right: 0;
    font-size: 0.81rem;
    text-align: end;
    position: absolute;
    
  }
  .footer-p {
    right: 0;
    text-align: end;
    font-family: monospace;
    font-size: 1em;
    color: white;
  }
  .Footer {
    font-size: 0.81rem;
    background-color: rgba(0,213,177,1) ;
    padding         : 23px;
    width           : 100%;
    position        : fixed;
    bottom          : 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer-tareas {
    color: white;
    position: absolute;
    right: 0;
    margin-top: -20px;
    margin-right: 9px;
    font-size: 15px;
  }
  .Footer {
    background-color: rgb(102, 106, 117);
    padding         : 23px;
    width           : 100%;
    position        : fixed;
    bottom          : 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer-tareas {
    color: white;
    position: absolute;
    right: 0;
    margin-top: -20px;
    margin-right: 9px;
    font-size: 15px;
  }
  .Footer {
    background-color: rgb(102, 106, 117);
    padding         : 23px;
    width           : 100%;
    position        : fixed;
    bottom          : 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer-tareas {
    color: white;
    position: absolute;
    right: 0;
    margin-top: -20px;
    margin-right: 9px;
    font-size: 15px;
  }

}

