@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");

.Footer {
  max-height      : 10vh;
  font-family     : "Open Sans", sans-serif;
  background-color: #4a4a4a;
  width           : 100%;
  visibility      : initial;
  bottom          : 0;
  display         : initial;
  position        : fixed;
  height          : 17%;
  flex-wrap       : wrap;
  align-items     : center;
  align-self      : center;
  align-items     : center;
  text-align : center;

}
.footer-p {
  font-size: 1em;
  color    : white;
}
.footer-tareas {
  color: white;
}

@media only screen and (min-width: 600px) {
  .footer-tareas {
    color    : white;
    font-size: 0.81rem;
    flex-wrap: wrap;
  }
  .footer-p {
    font-size: 1em;
    color    : white;
  }
}

@media only screen and (max-width: 600px) {
  .Footer {
    text-align: center;
    display   : initial;

  }

  .footer-tareas {
    color     : white;
    text-align: center;
  }
  .footer-p {
    text-align: center;
  }
}

@media screen and (max-height: 400px) {
  div.Footer {
    text-align : center;
    max-height : 10vh;
    align-items: center;
    align-self : center;
    align-items: center;
    display    : initial;

  }
}
@media screen and (max-height: 300px) {
  div.Footer {
    text-align : center;
    max-height : 10vh;
    align-items: center;
    align-self : center;
    align-items: center;
    display    : flex;
  }
}

@media screen and (max-width: 990px) {
  .Footer {
    text-align      : center;
    max-height      : 10vh;

    background-color: transparent;
    display         : inline;

  }
}
