.Head{
  /* background-color: rgb(102, 106, 117); */
  background-color: rgb(145, 156, 190);

  padding: 6px;
  color: white;
}

.logotipo{
  width: 220px;
}

@media screen and (max-width: 312px){
  .logotipo{
    width: 70%;
  }
}