.Home {
  background-image: url(../imagenes/imagen.png);
<<<<<<< HEAD
  height: 450px;
  width: 100vw;
=======
  font-size: 1.5em;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #fff;
  padding-bottom: 100%;
>>>>>>> cada678bbdf24e5ad7098ede0e9fa4bd66c47bf1
}

.each-slide{
  height: 100%;
}
.Button-Home {
  left         : 250px;
  border       : none;
  outline      : none;
  cursor       : pointer;
  background   : #00B7F1;
  border-radius: 20px;
  width        : 260px;
  padding      : 6px;
  font-size    : 1.5rem;
  margin-top   : 59px;
  color        : white;
  font-weight  : bold;
  font-family  : monospace;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Home{
    padding-bottom: 100%;
    font-size: 2em;
    text-align: center;
  }
  .homeText-principal{
    margin: 0 11%;

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Home{
    padding-bottom: 100%;
    font-size: 2em;
    text-align: center;
  }
<<<<<<< HEAD
}

@media screen and (min-width: 1125px) {
  .Home {
    height: 440;
  }
}
@media screen and (max-width: 1125px) {
  .Home {
    height: 610px;
  }
}

@media screen and (max-width: 300px) {
  .Button {
    margin-top: 160px;
  }
}


@media screen and (min-height: 768px) {
  .Home {
    padding-top: 40px;
    height: 600px;
  }
}
=======
  .homeText-principal{
    margin: 0 11%;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Home{
    padding-bottom: 100%;
    font-size: 2em;
    text-align: center;
  }
  .homeText-principal{
    margin: 0 11%;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}
>>>>>>> cada678bbdf24e5ad7098ede0e9fa4bd66c47bf1
