.Home {
  background-image: url(../imagenes/imagen.png);
  font-size: 1.5em;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: center;
  height: 100%;
  color: #fff;
  padding-bottom: 100%;
}

.each-slide{
  height: 100%;
}
.Button-Home {
  left         : 250px;
  border       : none;
  outline      : none;
  cursor       : pointer;
  background   : #00B7F1;
  border-radius: 20px;
  width        : 260px;
  padding      : 6px;
  font-size    : 1.5rem;
  margin-top   : 5%;
  color        : white;
  font-weight  : bold;
  font-family  : monospace;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Home{
    padding-bottom: 100%;
    font-size: 2em;
    text-align: center;
  }
  .homeText-principal{
    margin: 0 11%;

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Home{
    padding-bottom: 100%;
    font-size: 2em;
    text-align: center;
  }
  .homeText-principal{
    margin: 0 11%;

  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Home{
    padding-bottom: 100%;
    font-size: 2em;
    text-align: center;
  }
  .homeText-principal{
    margin: 0 11%;

  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}
@media only screen and (max-height: 400px) {

  .h1{
    padding: 5% 0 0;
  }

}

@media only screen and (max-height: 350px) {

  .Home{
    padding-bottom: 100%;
    font-size: 1.5em;
    text-align: center;
  }
  .Button-Home {
    margin-top: 5%;
  }

}