@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
.Login{
    font-family: 'Open Sans', sans-serif;
}
form{
    grid-template-columns: auto auto ;
    display: flex;
}
span{
    width: 100%;
}

.ButtonClass {
    margin          : 2%;
    font-size       : 15px;
    background-color: transparent;
    outline         : none;
    border          : 2px solid white;
    border-radius   : 1%;
    padding         : .51em 1.5em;
    font-weight     : bold;
    color           : white;
    box-shadow      : 0 0 6px rgb(45, 192, 192);
    cursor          : pointer;
}
.card-leftdivider{
    background: rgb(0,171,206);
    background: linear-gradient( rgba(0,171,206,1) 0%, rgba(0,183,241,1) 35%, rgba(0,213,177,1) 100%);
    color     : white; 
    display   : none;
} 

.card-rightdivider{
    /* margin: 0% 11%; */
}

.titleLogin{
    font-weight: 600;
    margin     : 4% 0 22%;
    width      : 100%;
    font-size  : 2rem;
}
.LoginContainer{
    /* margin: 10% 0; */
    
}
#email-label{
    padding: 3% 14%;
    font-size  : .82em;
}

.Button-login {
    margin-top: 20px;
    font-size: 15px;
    background-color: rgb(45, 192, 192);
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 14px 49px 14px 49px;
    font-weight: bold;
    color: white;
    box-shadow: 0 0 6px rgb(45, 192, 192);
    cursor: pointer;
}
div .MuiAppBar-colorPrimary {
    color           : #fff;
    background-color:transparent;
    margin          : 0 10%;
}
div .MuiAppBar-root {
    width         : 60% ;
    display       : flex;
    z-index       : 1100;
    box-sizing    : border-box;
    flex-shrink   : 0;
    flex-direction: column;
}
div .MuiTab-root {
  
    text-transform: capitalize;
}
.MuiFormControl-root {
    border        : 0;
    margin        : 2%;
    display       : inline-flex;
    padding       : 0;
    position      : relative;
    min-width     : 0;
    flex-direction: column;
    vertical-align: top;
    width         : 100%;
}
p.MuiTypography-body1 {
    font-size: 1.65rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
#email{
    padding: 3% 14%;
}
#pswd{
    padding: 3% 14%;
}
#pswd-label{
    font-size  : .82em;
    padding: 3% 14%;

}
.LoginContainer-password{
    margin: 10% 0;
    width : 100%;
}
.mail{
    display: flex;
    margin: 0 0 -21% 0;
}
.LoginContainer-email{
    width: 100%;
    align-items: center;
}
.candado{
    display: flex;
    margin: 0 0 -21% 0;
}

span.MuiIconButton-root {
    flex     : 0;
    font-size: 0.8 1em;
}
span.MuiTypography-body1 {
    font-size: 0.81em;
    
}
.login-fogiveme{
    display: flex;
}

.forgotLink{
    font-size : 0.81em;
    text-align: end;
    margin    : 5% 0 0% 0%;
}
.DescrptionTextLogin{
    font-size: 1em;
}
.textRegister{
    font-size: 0.8em;
    text-align: center;
    
}

.imagen{
    width   : 37%;
    position: absolute;
    bottom  :  20%;
}
button.Buttongo {
    margin-top   : 12%;
    font-size    : 1rem;
    background: rgb(0,171,206);
    background: linear-gradient(90deg, rgba(0,171,206,1) 0%, rgba(0,183,241,1) 35%, rgba(0,213,177,1) 100%);
    outline      : none;
    border       : none;
    border-radius: 15px;
    padding      : 4% 2%;
    font-weight  : bold;
    color        : white;
    box-shadow   : 0 0 6px rgb(45, 192, 192);
    cursor       : pointer;
    width        : 90%;
    font-family  : sans-serif;
}

/* SECTION esta es la sección de el responsive*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Login{
        background: rgb(0,171,206);
        background: linear-gradient( rgba(0,171,206,1) 0%, rgba(0,183,241,1) 35%, rgba(0,213,177,1) 100%);
        margin: -3% 0 0 0%; 
        height: 90vh;
        width: 100vw;
        overflow: hidden;
    }
    .fondoLogin-mobile {
        background-color: aliceblue;
        margin: 6% 8%;
        display: inline-flex;
        width: 83vw;
        height: 73vh;
        border-radius: 5%;
    }
    .card-rightdivider{
        margin: 13% 11%;
    }

     
    .titleLogin{
        font-weight: 600;
        width      : 100%;
        font-size  : 1.5rem;
    }
    .card-loginForm{
        margin: 0 0 0 0%;
        height: 100vh;
    }
    button.MuiButton-root {
        font-size: 1em;
    }
       
 }
 
 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .Login{
        background: rgb(0,171,206);
        background: linear-gradient( rgba(0,171,206,1) 0%, rgba(0,183,241,1) 35%, rgba(0,213,177,1) 100%);
        margin: -3% 0 0 0%; 
        height: 90vh;
        width: 100vw;
    }
    .fondoLogin-mobile {
        background-color: aliceblue;
        margin: 6% 8%;
        display: inline-flex;
        width: 83vw;
        height: 73vh;
        border-radius: 5%;
    }  
    .card-rightdivider{
        margin: 13% 11%;
    }
    .titleLogin{
        font-weight: 600;
        /* margin     : 3% 0; */
        width      : 100%;
        font-size  : 1.5rem;
    }
    .card-loginForm{
        /* margin: 0 0 0 7%; */
    }
    button.MuiButton-root {
        font-size: 1em;
    }
      
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .Login{
        background: rgb(0,171,206);
        background: linear-gradient( rgba(0,171,206,1) 0%, rgba(0,183,241,1) 35%, rgba(0,213,177,1) 100%);
        margin: -3% 0 0 0%; 
        height: 90vh;
        width: 100vw;
    }
    .fondoLogin-mobile {
        background-color: aliceblue;
        margin: 6% 8%;
        display: inline-flex;
        width: 83vw;
        height: 73vh;
        border-radius: 8%;
    }
    .titleLogin{
        font-weight: 600;
        margin     : 3% 0;
        width      : 100%;
        font-size  : 1.5rem;
    }
    .card-loginForm{
        margin: 0 0 0 7%;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  
    form{
        display              : flex;
        position             : relative;
    }
    .card-leftdivider{
        background: rgb(0,171,206);
        background: linear-gradient( rgba(0,171,206,1) 0%, rgba(0,183,241,1) 35%, rgba(0,213,177,1) 100%);
        color     : white; 
        display   : flex;
    } 
    .card-sectionButtonClass{
        display              : flex;
        grid-template-columns: auto auto ;
    
    }
     .card-leftdividerSecond{
         margin: 25% 0;
     }
     .descrption-question{
         font-size: 1.5em;
         margin   : 0;
     }
     
    
    
     .card-sectionTextClass{
         margin: 2%;
     }
     
    /* .card-leftdivider{
         background           : rgb(0,171,206);
         background           : linear-gradient( rgba(0,171,206,1) 0%, rgba(0,183,241,1) 35%, rgba(0,213,177,1) 100%);
         grid-template-columns: 3fr 1 ;
         display              : flex;
         color                : white; 
    } 
    .card-leftdividerFirst{
        margin    : 2%;
    
    }  */
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    form{
        display              : flex;
        position             : relative;
    }

    .card-leftdivider{
         background           : rgb(0,171,206);
         background           : linear-gradient( rgba(0,171,206,1) 0%, rgba(0,183,241,1) 35%, rgba(0,213,177,1) 100%);
         grid-template-columns: 3fr 1 ;
         display              : flex;
         color                : white; 
    } 
    .card-leftdividerFirst{
        margin    : 2%;
    
    } 
    .card-sectionButtonClass{
        display              : flex;
        grid-template-columns: auto auto ;
    
    }
     .card-leftdividerSecond{
         margin: 25% 0;
     }
     .descrption-question{
         font-size: 1.5em;
         margin   : 0;
     }
     
    
    
     .card-sectionTextClass{
         margin: 2%;
     }
     
 
 }
 
 