@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap);

.ofertas {
  margin: 12px;

  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}
body {
  background-color: rgb(214, 225, 252);
}

/* .body-ofertas {
} */
