.Profesor {
  background-image: url(../imagenes/lampara.png);
<<<<<<< HEAD
}
.profe-p{
  list-style: circle;
=======
  height: 100vh;
  background-repeat    : no-repeat; 
  background-attachment: initial;  
>>>>>>> 075809333e6b9f39db00ee7726c999b3fb9b080e
}

.informacion-profesor {
  margin-left: 150px;
  color: white;
  padding-top: 80px;
}

.Button-profe {
  left: 250px;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(rgb(32, 190, 238) 0%, rgb(43, 239, 253) 100%);

  width: 260px;
  height: 40px;
  border-radius: 20px;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  font-family: monospace;
}




@media screen and (min-width: 1125px) {
  .Button-profesor {
    text-align: center;
    margin-top: -250px;
  }
  .Profesor {
    height: 440px;
  }
  .div-imagen {
    position: relative;
    top: -260px;
    left: 1000px;
  }

  .imagen-profesor {
    width: 300px;
  }
}

@media screen and (max-width: 1125px) {
  .div-imagen {
    text-align: center;
    margin-top: -30px;
  }
  .imagen-profesor {
    width: 330px;
  }
  .Button-profesor {
    text-align: center;
    margin-top: -40px;
  }
  .Profesor {
    height: 590px;
  }
}

@media screen and (max-width: 748px) {
  .Button-profesor {
    text-align: center;
    margin-top: -50px;
  }
}
@media screen and (max-width: 573px) {
  .informacion-profesor {
    margin-left: 30px;
  }
}

@media screen and (max-width: 510px) {
  .profe-p {
    font-size: 15px;
  }
  .como {
    font-size: 25px;
  }
}

@media screen and (max-width: 371px) {
  .Button-profe {
    width: 80%;
    font-size: 15px;
  }
  .imagen-profesor {
    width: 60%;
    margin-bottom: 36px;
  }
  .div-imagen{
    margin-top: 1px;
  }
}