@import url(https://fonts.googleapis.com/css2?family=Rajdhani&display=swap);

.Task {
  background-image: url(../imagenes/laptop.png);
  font-size: 1.5em;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100%;
  color: #fff;
  /* background-attachment: fixed; */
  /* position             : relative; */
}

.Button-Task {

  left         : 250px;
  border       : none;
  outline      : none;
  cursor       : pointer;
  background   : #00B7F1;
  border-radius: 20px;
  width        : 260px;
  padding      : 6px;
  font-size    : 1.5rem;
  margin-top   : 59px;
  color        : white;
  font-weight  : bold;
  font-family  : monospace;
}
.Button-div{
  text-align: center;
  align-items: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .div-student {
  }
  .task-Imag{
    display: contents;
  }
  .student{
    width: 19%;
    height: 55%;
    display: flex;
    position: fixed;
    align-items: flex-end;
    opacity: .2;
  }
  .informacion-como{
    padding   : 2%;
    padding   : 2% 9%;
    text-align: left;
    font-size : 1.4em;
  }
  .lista{
    padding: 10%;
    text-align: justify;
    font-size: .8em;
  }
  .profe-p span{
    text-indent: 0.1rem;
    display: inline;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .div-student {
  }
  .task-Imag{
    display: contents;
  }
  .student{
    width: 19%;
    height: 55%;
    display: flex;
    position: fixed;
    align-items: flex-end;
    opacity: .2;
  }
  .informacion-como{
    padding   : 2%;
    padding   : 2% 9%;
    text-align: left;
    font-size : 1.4em;
  }
  .lista{
    padding: 10%;
    text-align: justify;
    font-size: .8em;
  }
  .profe-p span{
    text-indent: 0.1rem;
    display: inline;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .task-Imag{
    display: contents;
  }
  .student{
    width      : 6%;
    height     : 36%;
    display    : flex;
    position   : absolute;
    align-items: flex-end;
    opacity    : 1;
    right      : 40%;
    top        : 0%;
  }
  .informacion-como{
    padding   : 2%;
    padding   : 2% 9%;
    text-align: left;
    font-size : 1.5em;
  }
  .lista{
    padding: 0 8%;
    text-align: justify;
    font-size: 1em;
  }
  .profe-p span{
    text-indent: 0.1rem;
    display: inline;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {



}
/* .Button-div {
  text-align: center;
}

.lista {
  margin-left: 150px;
  color: white;
  margin-top: 20px;
} */

/* 
/*  */
/* @media screen and (min-width: 1140px) {
  .div-student {
    position: relative;
    top: -300px;
    left: 900px;
  }

  .student {
    width: 330px;
  }
  .Task {
    height: 440px;
  }
  .Button-div {
    margin-top: -350px;
  }

} */
/* 
@media screen and (max-width: 1140px) {
  .Task {
    height: 610px;
  }

  .div-student {
    text-align: center;
    margin-top: -50px
  }
  .student {
    width: 330px;
  }
  .Button-div {
    text-align: center;
    margin-top: -120px;
  }
}



@media screen and (min-width: 715px) {
  .informacion {
    margin-left: 150px;
    color: white;
    padding-top: 80px;
  }


}

@media screen and (max-width: 715px) {
  .informacion {
    color: white;
    padding-top: 80px;
    text-align: center;
  }
  .como{
    font-size: 30px;
  }
}
@media screen and (max-width: 573px) {
  .lista {
    margin-left: 30px;
  }


}

@media screen and (max-width: 371px) {
  .Button-Task {
    width: 50%;
    font-size: 15px;
  }
  .Button-div {
    margin-bottom: 100px;
  }
  .student {
    width: 60%;
    margin-bottom: 36px;
  }
  .div-student {
    margin-top: 1px;
  }
} 
 */
