.Task-body{
background-color: rgb(224, 242, 252);
height: 80vh;
}

.strong_Task {
  background-color: #16beff;
  margin: 2px;
  padding: 10px;
  width: 320px;
  display: inline-block;
}

.color-Task-h4 {
  color: #16beff;
  border-top: #16beff 4px solid;
  width: 210px;
  padding-top: 12px;
  font-size: 18px;
  margin-left: 13px;
  margin-top: 23px;
}

.color-Task-h5 {
  color: #16beff;
  position: absolute;
  right: 30px;
  font-size: 18px;
}

.div-color-Task {
  display: flex;
}

.div-strong {
  text-align: center;
  color: white;
}

.datos-Task {
  position: absolute;
  /* left: 1020px; */
  right: 50px;
  top: 150px;
}

.datos-img {
  width: 220px;
  margin-bottom: 25px;
}


.BsCheckCircle {
  font-size: 19px;
  color: #5d79f7;
  position: relative;
  top: 2px;
}

.FIFilter{
  position: relative;
  top: 4px;
}

.BsFillXCircleFill{
  position: relative;
  top: 5px;
  margin-right: 4px;
  cursor: pointer;
}

