<<<<<<< HEAD
.Task-body{
background-color: rgb(224, 242, 252);
height: 80vh;
}

.strong_Task {
  background-color: #16beff;
  margin: 2px;
  padding: 10px;
  width: 320px;
  display: inline-block;
}

.color-Task-h4 {
  color: #16beff;
  border-top: #16beff 4px solid;
  width: 210px;
  padding-top: 12px;
  font-size: 18px;
  margin-left: 13px;
  margin-top: 23px;
}

.color-Task-h5 {
  color: #16beff;
  position: absolute;
  right: 30px;
  font-size: 18px;
}

.div-color-Task {
  display: flex;
}

.div-strong {
  text-align: center;
  color: white;
}

.datos-Task {
  position: absolute;
  /* left: 1020px; */
  right: 50px;
  top: 150px;
}

.datos-img {
  width: 220px;
  margin-bottom: 25px;
}
=======
@import url(https://fonts.googleapis.com/css2?family=Rajdhani&display=swap);

.Task {
  background-image: url(../imagenes/laptop.png);
  font-size: 1.5em;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100%;
  color: #fff;
 
}

.Button-Task {

  left         : 250px;
  border       : none;
  outline      : none;
  cursor       : pointer;
  background   : #00B7F1;
  border-radius: 20px;
  width        : 260px;
  padding      : 6px;
  font-size    : 1.5rem;
  margin-top   : 59px;
  color        : white;
  font-weight  : bold;
  font-family  : monospace;
}
.Button-div{
  text-align: center;
  align-items: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .div-student {
  }
  .task-Imag{
    display: contents;
  }
  .student{
    width: 19%;
    height: 55%;
    display: flex;
    position: fixed;
    align-items: flex-end;
    opacity: .2;
  }
  .informacion-como{
    padding   : 2%;
    padding   : 2% 9%;
    text-align: left;
    font-size : 1.4em;
  }
  .lista{
    padding: 10%;
    text-align: justify;
    font-size: .8em;
  }
  .profe-p span{
    text-indent: 0.1rem;
    display: inline;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .div-student {
  }
  .task-Imag{
    display: contents;
  }
  .student{
    width: 19%;
    height: 55%;
    display: flex;
    position: fixed;
    align-items: flex-end;
    opacity: .2;
  }
  .informacion-como{
    padding   : 2%;
    padding   : 2% 9%;
    text-align: left;
    font-size : 1.4em;
  }
  .lista{
    padding: 10%;
    text-align: justify;
    font-size: .8em;
  }
  .profe-p span{
    text-indent: 0.1rem;
    display: inline;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .task-Imag{
    display: contents;
  }
  .student{
    width      : 5%;
    height     : 36%;
    display    : flex;
    position   : absolute;
    align-items: flex-end;
    opacity    : 1;
    right      : 40%;
    top        : 0%;
  }
  .informacion-como{
    padding   : 2%;
    padding   : 2% 9%;
    text-align: left;
    font-size : 1.5em;
  }
  .lista{
    padding: 0 8%;
    text-align: justify;
    font-size: 1em;
  }
  .profe-p span{
    text-indent: 0.1rem;
    display: inline;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
>>>>>>> cada678bbdf24e5ad7098ede0e9fa4bd66c47bf1

.p-Task {
  margin-left: 13px;
  margin-top: 23px;
}

<<<<<<< HEAD
.BsCheckCircle {
  font-size: 19px;
  color: #5d79f7;
  position: relative;
  top: 2px;
}

.FIFilter{
  position: relative;
  top: 4px;
}

.BsFillXCircleFill{
  position: relative;
  top: 5px;
  margin-right: 4px;
  cursor: pointer;
}
=======

}
>>>>>>> cada678bbdf24e5ad7098ede0e9fa4bd66c47bf1
